In [2]:
import pandas as pd

In [160]:
def looking_for_top_names(years):
    df_aggr = []
    for year in years:
        path = f'PycharmProjects/DataMinig/names/yob{year}.txt'
        df = pd.read_csv(path, names = ['Names', 'Gender', 'Count'])
        df['Year'] = int(f'{year}')
        df_aggr.append(df)
    df_aggr = pd.concat(df_aggr)
    df_aggr.reset_index(inplace=True)
    top3_names = df_aggr.groupby(["Names"]).sum()[["Count"]].sort_values("Count", ascending=False).head(3)
    
    
    return top3_names

In [180]:
looking_for_top_names([1880, 2017, 2000])

         Count
Names
Jacob    48134
William  45246
Michael  45178

In [177]:
def gender_dynamics(years):
    df_aggr = []
    for year in years:
        path = f'PycharmProjects/DataMinig/names/yob{year}.txt'
        df = pd.read_csv(path, names = ['Names', 'Gender', 'Count'])
        df['Year'] = int(f'{year}')
        df_aggr.append(df)
    df_aggr = pd.concat(df_aggr)
    df_aggr.reset_index(inplace=True)
    dymnamics = df_aggr.groupby(["Gender", "Year"]).sum()[["Count"]]    
    return dymnamics

In [178]:
gender_dynamics([2000,2001,2018])

               Count
Gender Year
F      2000  1815295
       2001  1799834
       2018  1686961
M      2000  1963202
       2001  1942034
       2018  1800392

In [179]:
gender_dynamics([2000,2001,2018]).unstack("Year")

          Count
Year       2000     2001     2018
Gender
F       1815295  1799834  1686961
M       1963202  1942034  1800392